
body {
    font-family: 'poppins';
}

.header {
    text-align: center;
    margin: 100px;
    text-decoration: underline;
    font-size: 3rem;
}


.play-container {
    text-align: center;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.controls {
    width: 140px;
    margin: 0 70px;
    margin-bottom: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.controls>* {
    width: 100%;
}

#color-picker {
    height: 3rem;
    width: 3rem;
}

.play-container button {
    border: 1px solid;
    transition: 0.15s;
    height: 2rem;
    border-radius: 0.3rem;
}

.play-container button:hover {
    transform: scale(1.1);
}

.play-container button.active {
    border: 1px solid;
    background-color: #413F42;
    color: white;
}

#grid-range {
    opacity: 0.7;
    transition: 0.2s;
    background: #d3d3d3;
}

#grid-range:hover {
    opacity:1;
}


#grid-range::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    width: 20px; /* Set a specific slider handle width */
    height: 20px; /* Slider handle height */
    background: grey; /* Green background */
    cursor: pointer; /* Cursor on hover */
}




.grid {
    width: 500px;
    margin: 0   70px;
    height: 500px;
    display:inline-grid;
    box-shadow: rgba(114, 118, 123, 0.2) 5px 5px 50px;
}

.grid-item {
    transition: background-color 0.2s;
}


